
      <div class=" my-4 row text-center">
        <div class="col col-md-4 offset-md-4">
        <a routerLink="/add-rating" class="btn btn-dark">Add rating</a>
        </div>
      </div>
      <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let rating of ratings$ | async">
            <div class="card">
              <div class="card-body bg-danger">
                <h5 class="card-title">Comment:{{ rating.comment }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <div class="cont">
                  <div class="stars">
                    <ngx-star-rating [(ngModel)]="rating.rating" [id]="'rating'"></ngx-star-rating>
                    
                  </div>
                  <div>Rating: {{form.value.rating}}</div>
                </div>
                <li class="list-group-item">Rating : {{ rating.rating }}</li>
                <li class="list-group-item">Comment:{{ rating.comment }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
